// Variables

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Tera", sans-serif;
  background: #000;
  color: #fff;
}

// Section Title
.section-title {
  margin: 60px auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
// Section Title End

// Navbar Toggler
.navbar-toggler {
  font-size: 3em;
  cursor: pointer;
  z-index: 3;
  position: fixed;
  top: 10px;
  right: 50%;
  display: none;
}
// Navbar Toggler End

// Responsive Navbar Toggler
@media (max-width: 985px) {
  // Navbar Toggler
  .navbar-toggler {
    display: block;
  }
  // Navbar Toggler End
}

// Header
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/Cell.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;

  // Navbar
  nav {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: fixed;

    // Logo
    .logo {
      color: #fff;
      cursor: pointer;
      flex: 0.8;
      z-index: 2;

      span {
        color: grey;
      }
    }
    // Logo End

    ul {
      list-style: none;
      display: flex;
      overflow: hidden;
      transition: 0.5s;
      a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:hover {
          background: grey;
          transition: 0.5s;
        }
        li {
          padding: 20px;
        }
      }
    }
  }
  // Navbar End

  // Header Content
  .header-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 3em;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    p {
      margin: 20px auto;
      font-size: 1.5em;
    }

    // Learn More Buttons
    .learn-more-btn {
      padding: 15px 30px;
      cursor: pointer;
      background: none;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      border: 2px solid #fff;
      margin: 20px auto;
      text-decoration: none;
      &:hover {
        background: grey;
        transition: 0.5s;
        border-color: gray;
      }
    }
  }
  // Header Content End
}
// Header End

// Responsive Navbar Start
@media (max-width: 985px) {
  // Navbar
  nav {
    // Logo
    .logo {
      font-size: 3.8em;
      z-index: 1;
    }
    // Logo End

    ul {
      flex-direction: column;
      max-height: 0px;
      a {
        &:hover {
          background: none !important;
          color: grey;
        }
        li {
          text-align: center;
        }
      }
    }
  }

  // Show Navbar
  .show-nav {
    max-height: 20em;
  }
  // Show Navbar End
}
// Respsonive Navbar End

// Wrapper Start
.wrapper {
  max-width: 70%;
  margin: 40px auto;

  // About Section
  #about {
    h1 {
      text-align: center;
    }

    // About Container
    .about-container {
      margin: 100px auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      // About Image
      .about-img {
        width: 50%;
        height: 50vh;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
          url("images/cell3.jpg") center no-repeat;
        background-size: cover;
        margin: 50px auto;
        border-radius: 5px;
      }
      // About Image End

      p {
        width: 60%;
        margin: 0 40px;
      }
    }
    // About Container End
  }
  // About Section End
}
// Wrapper End

// Responsive About Section
@media (max-width: 1200px) {
  // Wrapper
  .wrapper {
    // About
    #about {
      // About Container
      .about-container {
        flex-direction: column;

        // About Image
        .about-img {
          width: 100%;
        }
        // About Image End

        p {
          width: 100%;
          font-size: 0.8em;
        }
      }
      // About Container End
    }
    // About End
  }
  // Wrapper End
}
// End Of Responsive Section

// Gallery Section
#gallery {
  // Gallery Container
  .gallery-container {
    // Gallery Image Cards Start
    .card {
      text-align: center;
      .img {
        width: 100%;
        height: 50vh;
        border-radius: 5px;
      }

      .img1 {
        background: url("images/jungle10.jpg") center no-repeat;
        background-size: cover;
      }

      .img2 {
        background: url("images/jungle12.jpg") center no-repeat;
        background-size: cover;
      }

      .img3 {
        background: url("images/jungle7.jpg") center no-repeat;
        background-size: cover;
      }

      .img4 {
        background: url("images/jungle8.jpg") center no-repeat;
        background-size: cover;
      }

      .img5 {
        background: url("images/jungle9.jpg") center no-repeat;
        background-size: cover;
      }

      .img6 {
        background: url("images/waterfall1.jpg") center no-repeat;
        background-size: cover;
      }

      h3 {
        margin: 30px auto;
        text-transform: uppercase;
        border-bottom: 2px solid gray;
        width: 30%;
        padding-bottom: 20px;
        font-size: 2em;
        letter-spacing: 3px;
      }

      p {
        margin: 50px auto;
        text-align: left;
        width: 80%;
      }
    }
    // Gallery Image Cards End
  }
  // Gallery Container End
}
// Gallery Section End

// Responsive Gallery Section
@media (max-width: 900px) {
  // Gallery
  #gallery {
    .gallery-container {
      .card {
        h3 {
          width: 100%;
        }
        p {
          font-size: 0.8em;
          text-align: center;
        }
      }
    }
  }
}
// Responsive Gallery Section End

// Footer
footer {
  background: #0f0c08;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;

  // Footer Container
  .footer-container {
    text-align: center;
    width: 40%;
    margin-left: 20px;

    h1 {
      font-size: 3em;
      letter-spacing: 4px;
      font-style: italic;
      margin-bottom: 50px;
      span {
        color: gray;
      }
    }

    p {
      margin: 50px auto;
    }

    .border-bottom {
      margin: 50px auto;
    }

    // Social Media
    .social-media {
      i {
        font-size: 3em;
        margin: 0 40px;
        cursor: pointer;
      }
    }
  }
}
// End Of Footer

// Responsive Footer
@media (max-width: 875px) {
  footer {
    height: auto;
    .footer-container {
      margin: 20px auto;

      .social-media {
        display: flex;
        justify-content: center;
      }
    }
  }
}
// End Of Responsive Footer
